* {
  @apply scrollbar-track-transparent scrollbar-thumb-white/20
}

body {
  font-size: 16px;
  user-select: none;
  overflow: hidden;
}
a {
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: var(--font-mono);
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: var(--font-mono);
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  @apply pb-2
}

#myPhoto {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1) blur(.6px);
  transition: filter 1.5s;
  &:hover {
    filter: none;
  }
}

dialog {
  user-select: none;
  color: inherit;
  width: 600px;
  &::backdrop {
    backdrop-filter: blur(10px);
  }
}

table.tictactoe {
  @apply self-center w-60 h-60 mb-10;
  & tr td {
    @apply border w-20 h-20 text-center text-3xl cursor-pointer;
  }
}

.chat-box {
  background: #ffffff50 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.09'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}