* {
  @apply scrollbar-track-transparent scrollbar-thumb-white/20
}

html {
  color: var(--text-color);
  background: var(--bg-color)
    radial-gradient(circle,var(--bg-secondary-color) 0%, var(--bg-color) 100%)
    no-repeat
    center center
    fixed;
  transition: color .4s;
  background-size: cover;
}
body {
  font-size: 16px;
  user-select: none;
}
a {
  @apply opacity-60;
  &:hover {
    @apply opacity-100;
  }
  &.active {
    @apply opacity-100;
  }
}
button {
  cursor: pointer;
  &:disabled {
    opacity: 0.2;
    cursor: unset;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: var(--font-mono);
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: var(--font-mono);
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  @apply pb-2
}

#myPhoto {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1) blur(.6px);
  transition: filter 1.5s;
  &:hover {
    filter: none;
  }
}

dialog {
  user-select: none;
  color: inherit;
  width: 700px;
  &::backdrop {
    backdrop-filter: blur(1px);
  }
}