/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels */

ul.carousel {
  width: 100%;
  display: flex;
  @apply rounded-lg py-2 backdrop-bg;

  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; 

  anchor-name: --my-carousel;
  & > li {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  /* Scroll Marker : BEGIN */
  @supports (scroll-marker-group: after) {
    scroll-marker-group: after;
  }
  &::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    bottom: calc(anchor(bottom) + 25px);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  & > li::scroll-marker {
    content: attr(data-item);
    width: 10px;
    height: 10px;
    background-color: var(--text-color);
    opacity: 0.5;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 16px;
  }
  & > li::scroll-marker:target-current,
  & > li::scroll-marker:hover {
    opacity: 1;
  }
  /* Scroll Marker : END */

  /* Scroll Buttons : BEGIN */
  &::scroll-button(*) {
    border: 0;
    font-size: 1rem;
    background: none;
    color: var(--text-color);
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    position-anchor: --my-carousel;
  }

  &::scroll-button(*):hover,
  &::scroll-button(*):focus {
    opacity: 1;
  }
  &::scroll-button(*):disabled {
    opacity: 0.5;
    cursor: unset;
  }
  &::scroll-button(left) {
    content: "◄" / "Previous";
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(bottom) + 20px);
  }
  &::scroll-button(right) {
    content: "►" / "Next";
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(bottom) + 20px);
  }
  /* Scroll Buttons : END */
}
