/* Light mode sttings */
:root {
  /* Dark mode 🌙 */ 
  --dark-text-color: #F4F4F5;
  --dark-bg-color: rgba(41, 41, 41, 1);
  --dark-bg-secondary-color: rgba(0, 0, 0, 1);

  /* Light mode ☀️ */
  --light-text-color: #141414;
  --light-bg-color: rgba(84, 84, 84, 1);
  --light-bg-secondary-color: rgba(255, 255, 255, 1);

  /* Default (Light mode) */
  --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color);
  --bg-secondary-color: var(--light-bg-secondary-color);
}
@media (prefers-color-scheme: dark) {
  /* Machine (Dark mode) */
  :root {
    --text-color: var(--dark-text-color);
    --bg-color: var(--dark-bg-color);
    --bg-secondary-color: var(--dark-bg-secondary-color);
  }
}

/* Override (Dark mode) */
html[data-theme='dark'] {
  --text-color: var(--dark-text-color);
  --bg-color: var(--dark-bg-color);
  --bg-secondary-color: var(--dark-bg-secondary-color);
}

/* Override (Light mode) */
html[data-theme='light'] {
  --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color);
  --bg-secondary-color: var(--light-bg-secondary-color);
}